

.mithila{
    margin-top: 100px;
}

.pg{
    color: #777;
}

.crd{
    width:200px;
}

.gap{
    margin-top: 100px;
}

.card-footer{
    background: white;
    border: none;
}

.card{
    border: none;
    box-shadow: 5px 5px 20px lightgray;
}

.btn-gap{
    margin-bottom: 20px;
}

.far{
    color:lightskyblue;
    display: inline;
}


.made{
    color: #777;
}





